transformers==4.57.3
ipykernel
torch==2.9.1
ipywidgets
datasets==4.4.2
evaluate
scikit-learn
matplotlib
seaborn
accelerate==1.12.0
optuna
python-dotenv
contractions
ekphrasis
beautifulsoup4
lxml
umap-learn
numpy
pandas
tqdm
huggingface_hub==0.36.0 